<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
	<title>Django Girls Blog</title>
</head>

<style>
	h4, h2, p {
		text-align: center;
		font-family: century gothic; 
	}


	footer {
		display: block;
	}

	div.main_content ul{
		list-style: none;
		text-align: left;
	}


</style>
<body>
	<div class="w3-container w3-orange">
		<center><h1><font face="sweet pea", color="white">Ana Marie's Blog</font></h1></center>
	</div>

	<div class="main_content">
		<ul>
		{% for post in posts %}
			<li>
		 		<div><h2>{{ post.title }}</h2>
		 		<h4>{{ post.text|linebreaksbr }}</h4>
		 		<p>Published: {{ post.published_date }}</p>
		 		</div>
			</li>
	 	{% endfor %}
	 	</ul>
	</div>

	<footer class="w3-container w3-orange">
 	<center><h5><font face="sweet pea"><font color="white">Django Girls Blog</font></h5>

 	<p><font color="white">By: Ana Marie G. Lee | Published: May 6, 2017</font></p></font></font></center>
</footer>
</body>
</html>