<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
	<title>Django Girls Blog</title>
</head>

<style>
	h4, h2, p {
		text-align: center;
		font-family: century gothic; 
	}


	footer {
		display: block;
	}

</style>
<body>

	<div class="w3-container w3-orange">
	<center><h1><font face="sweet pea"><font color="white"><strong>Welcome to My Django Girls Blog</strong></font></font></h1></center>
	</div>

	
 	<div><h2>My First Post</h2>
 	<h4>At last! I finally have a working website!</h4>
 	<p>Published: 05.06.2017, 2:26 p.m</p>
 	</div>
<br/>
<br/>
	<div class="container"><h2>My Second Post</h2>
 	<h4>Django makes me realize that learning codes is not that as crucial as I think before. Thanks to Django for making the impossible to possible. Because of this, I am able to learn and get new knowledge that for sure I can use it in my school and also to my future <i class="fa fa-heart" aria-hidden="true"></i>
</h4>
 	<p>Published: 05.06.2017, 2:26 p.m</p>
 	</div>

	<footer class="w3-container w3-orange">
 	<center><font face="sweet pea"><font color="white"><h5>Django Girls Blog</h5>

 	<p>By: Ana Marie G. Lee | Published: May 6, 2017</p></font></font></center>
</footer>
</body>
</html>